<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="org.example.exercice_dog.HelloServlet"/>
        <mapping class="org.example.exercice_dog.model.Dog"/>
        <mapping class="org.example.exercice_dog.dao.DogDAO"/>
        <mapping class="org.example.exercice_dog.controller.DogServlet"/>
        <mapping class="org.example.exercice_dog.util.SessionfactorySingleton"/>

    </session-factory>
</hibernate-configuration>